{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>
            login pages
        </title>
    <link rel="stylesheet" href="{% static 'signup.css'%}">
    </head>
    <body>
        <div id="dkboss1">
        <form method="post">
            <h3 id="loginh5"></h3>
            <br>
        <label>Email-id<label>
        <br>
        <br>
        <input type="text" name="text">
        <br>
        <br> 
        <label>Enter new password</label>
        <br>
        <br>
        <input type="password" name="passwordtext">
        <br>
        <br>
        <label>Confirm password again</label>
        <br>
        <br>
        <input type="password" name="passwordtext">
        <br>
        <br>
        <button type="submit" id="btn1223">Reset</button> 
          
        </form>
        </div>

    </body>


</html>