{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>
            login pages
        </title>
    <link rel="stylesheet" href="{% static 'signup.css'%}">
    </head>
    <body>
        <div id="dkboss">
        <form method="post">
            <h3 id="loginh4">login</h3>
            <br>
        <label>Username<label>
        <br>
        <br>
        <input type="text" name="text">
        <br>
        <br> 
        <label>Password</label>
        <br>
        <br>
        <input type="password" name="passwordtext">
        <br>
        <br>
        <button type="submit" id="btn1223">login</button> 
        <h4 style="color:black;margin-top: -80px;">forgot password<a href="forgot">  Click here</a></h4>  
        </form>
        </div>

    </body>


</html>