{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>
            login pages
        </title>
    <link rel="stylesheet" href="{% static 'signup.css'%}">
    </head>
    <body>
        <div id="danish">
        <form method="post">
            <h3 id="loginh3">Registration</h3>
            <br>
        <label>Username<label>
        <br>
        <br>
        <input type="text" name="nametext">
        <br>
        <br>
        <label>Email<label>
        <br>
        <br>
        <input type="text" name="emailtext">
        <br>
        <br>
        <label>Password</label>
        <br>
        <br>
        <input type="password" name="passwordtext">
        <br>
        <br>
        <label>Confirm Password</label>
        <br>
        <br>
        <input type="Password" name="confirmpasswordtext">
        <br>
        <br>
        <button type="submit" id="btn1223">Signup</button>
        <h4 style="color:black;margin-top: -80px;">Have a account<a href="login">Click here</a></h4>
        </form>
        </div

    </body>


</html>